Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

# Create a Pandas Series

data = [4, 8, 15, 16, 23,42]

# Convert the list to a Pandas Series

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
import pandas as pd

# Creating a list with 10 elements

data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series = pd.Series(data_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [10]:
import pandas as pd

data = {"Name":['Alice','Bob','Claire'],
       "Age":[25,30,27],
       "Gender":['Female','Male','Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure. It is similar to a spreadsheet or SQL table, where data is organized into rows and columns. Each column in a DataFrame can have a different data type (e.g., integer, float, string), and it is capable of storing and handling large datasets efficiently. DataFrames are the primary data structure used for data manipulation and analysis in Pandas.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any data type (e.g., integer, float, string, etc.). It can be thought of as a single column of data from a DataFrame. Each element in a Series is indexed, and you can access elements by their index. Series provide functionality similar to NumPy arrays but with additional features like index alignment and handling missing data

**DataFrame:**
What is it?: Think of a DataFrame as a table, similar to what you might see in Excel or a SQL database. It's a two-dimensional data structure where data is organized into rows and columns.

Example: Suppose you have information about people, including their names, ages, and addresses. You can put this data into a DataFrame, where each row represents a person, and each column represents a different piece of information (e.g., name, age, address).

**Series:**
What is it?: A Series is like a single column of data from a DataFrame. It's a one-dimensional labeled array that can hold any type of data (e.g., numbers, strings). Each element in a Series has an index, which allows you to access the data by its position.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions for manipulating data in a DataFrame. Some common functions include:

1. **head()**: Returns the first n rows of the DataFrame.
2. **tail()**: Returns the last n rows of the DataFrame.
3. **info()**: Provides a concise summary of the DataFrame, including data types and missing values.
4. **describe()**: Generates descriptive statistics for numerical columns in the DataFrame.
5. **shape**: Returns a tuple representing the dimensions of the DataFrame (rows, columns).
6. **loc[]**: Accesses a group of rows and columns by label(s) or a boolean array.
7. **iloc[]**: Accesses a group of rows and columns by integer position(s).
8. **drop()**: Drops specified rows or columns from the DataFrame.
9. **fillna()**: Fills missing values in the DataFrame with specified values.
10. **drop_duplicates()**: Removes duplicate rows from the DataFrame.
11. **groupby()**: Groups data in the DataFrame by specified columns.
12. **merge()**: Merges two DataFrames based on a common column.
13. **sort_values()**: Sorts the DataFrame by specified columns.
14. **apply()**: Applies a function along an axis of the DataFrame.
15. **pivot_table()**: Creates a pivot table from the DataFrame.

In [12]:
import pandas as pd

# Creating a DataFrame with duplicate rows
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
    'Age': [25, 30, 25, 35, 30],
    'Address': ['123 Street', '456 Avenue', '123 Street', '789 Boulevard', '456 Avenue']
}
df = pd.DataFrame(data)

print("DataFrame with duplicates:")
print(df)

# Remove duplicate rows based on all columns
df_unique = df.drop_duplicates()

print("\nDataFrame without duplicates:")
print(df_unique)

DataFrame with duplicates:
      Name  Age        Address
0    Alice   25     123 Street
1      Bob   30     456 Avenue
2    Alice   25     123 Street
3  Charlie   35  789 Boulevard
4      Bob   30     456 Avenue
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Age      5 non-null      int64
 2   Address  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

DataFrame without duplicates:
      Name  Age        Address
0    Alice   25     123 Street
1      Bob   30     456 Avenue
3  Charlie   35  789 Boulevard

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among Series, DataFrame, and Panel, only DataFrame is mutable in nature.

**Series:** Series is a one-dimensional labeled array, and it is immutable. Once created, you cannot modify the elements of a Series directly. However, you can perform operations that return a new Series with modified data.

**DataFrame:** DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is mutable, meaning you can modify the data, add or remove rows and columns, and perform various operations directly on the DataFrame object.

**Panel:** Panel is a three-dimensional labeled data structure. It is also mutable, allowing you to modify the data, add or remove items, and perform operations directly on the Panel object. However, Panel is deprecated in recent versions of Pandas in favor of MultiIndex DataFrame

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Ramesh', 'Rina', 'Ravi'])
ages = pd.Series([25, 30, 35])
addresses = pd.Series(['123 Street', '456 Avenue', '789 vijaynagar'])

data = {'Name': names, 'Age': ages, 'Address': addresses}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age         Address
0  Ramesh   25      123 Street
1    Rina   30      456 Avenue
2    Ravi   35  789 vijaynagar