# Python Assignment 01

Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

Solution Q1

(i) string

In [1]:
a = "my name is monu"

In [2]:
type(a)

str

(ii) list

In [3]:
l = [1,2.0,"monu",2+8j]

In [4]:
type(l)

list

(iii) float

In [5]:
b = 3.89

In [6]:
type(b)

float

(iv) tuple

In [7]:
t = ("Monu" ,8,True,False,8.0)

In [8]:
type(t)

tuple

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.

What will be the data type of the above given variable.

Solution Q2

(i)

In [9]:
var1 = ' '
type(var1)

str

(ii)

In [10]:
var2 = '[ DS , ML , Python]'

In [11]:
type(var2)

str

(iii)

In [12]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [13]:
type(var3)

list

(iv)

In [14]:
var4 = 1

In [15]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

Solution Q3

In [16]:
#(i)

4/5

0.8

In [17]:
#(ii)

10%5

0

In [18]:
#(iii)

8//3

2

In [19]:
#(iv)

8**3

512

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

Solution Q4

In [20]:
l=[5,8.6,8+8J,"monu",True,5,8,7,5.5,"Dravid"]

a=1

for i in l:
    print("Element no. ",a,": ",i,":","it's Data type is " ,type(i))
    a += 1

Element no.  1 :  5 : it's Data type is  <class 'int'>
Element no.  2 :  8.6 : it's Data type is  <class 'float'>
Element no.  3 :  (8+8j) : it's Data type is  <class 'complex'>
Element no.  4 :  monu : it's Data type is  <class 'str'>
Element no.  5 :  True : it's Data type is  <class 'bool'>
Element no.  6 :  5 : it's Data type is  <class 'int'>
Element no.  7 :  8 : it's Data type is  <class 'int'>
Element no.  8 :  7 : it's Data type is  <class 'int'>
Element no.  9 :  5.5 : it's Data type is  <class 'float'>
Element no.  10 :  Dravid : it's Data type is  <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [21]:
a = 15;
b = 10;
original_a =a;


count = 0;

while a>=b:
    a-=b
    count +=1
    
if count<0:
    print(original_a, "is not divisible by" ,b)
else:
    print(original_a, "is divisible by" ,b,"  ",count," times")

15 is divisible by 10    1  times

Q6) Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

Solution Q6

In [30]:
l=[4,58,74,54,5,54,47,1,53,6,3,5,11,36,5,4,5,25,25,14,2,5,44,45,5]

count =0;

for i in l:
    count+=1
    if i%3==0:
        print(count,")",i," is divisible by 3")
    else:
        print(count ,")",i," is not divisible by 3")

1 ) 4  is not divisible by 3
2 ) 58  is not divisible by 3
3 ) 74  is not divisible by 3
4 ) 54  is divisible by 3
5 ) 5  is not divisible by 3
6 ) 54  is divisible by 3
7 ) 47  is not divisible by 3
8 ) 1  is not divisible by 3
9 ) 53  is not divisible by 3
10 ) 6  is divisible by 3
11 ) 3  is divisible by 3
12 ) 5  is not divisible by 3
13 ) 11  is not divisible by 3
14 ) 36  is divisible by 3
15 ) 5  is not divisible by 3
16 ) 4  is not divisible by 3
17 ) 5  is not divisible by 3
18 ) 25  is not divisible by 3
19 ) 25  is not divisible by 3
20 ) 14  is not divisible by 3
21 ) 2  is not divisible by 3
22 ) 5  is not divisible by 3
23 ) 44  is not divisible by 3
24 ) 45  is divisible by 3
25 ) 5  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

Solution Q7

Mutable Data Types:

Mutable data types are those whose values can be modified after creation. When you modify a mutable object, the object itself is modified in memory, and no new object is created.

In [24]:
l = [234,23.4,"Mango","Orange"]

In [25]:
l[1] ="Monu";

In [26]:
l

[234, 'Monu', 'Mango', 'Orange']

Here we can see that changed and modified.So that's why we can say that it is mutable.

Immutable data Types:

Immutable data types are those whose values cannot be changed after creation. When you modify an immutable object, a new object is usually created in memory to store the updated value

In [27]:
t=(234,23423,235,23423,45234,"Monter")

In [28]:
t

(234, 23423, 235, 23423, 45234, 'Monter')

In [29]:
t[3]="Rama"

TypeError: 'tuple' object does not support item assignment

So here we can see that tuple can't support this thing .means we can't changes in current tuple and modifications it is immutable.